@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

:root {
    --Linear-gradient: linear-gradient(155deg, hsl(237, 73%, 79%), hsl(238, 63%, 64%));
    --Blue-50: hsl(240, 78%, 98%);
    --Gray-650: hsl(233, 13%, 49%);
    --Gray-700: hsl(232, 13%, 33%);
    --Font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    padding: 2rem;
    background: var(--Blue-50);
}

.top-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    max-width: 375px;
    width: 40%;
}

.bottom-img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    max-width: 375px;
    width: 40%;
}

.header {
    font-size: 2rem;
    color: var(--Gray-650);
}

.container {
    place-items: center;
}

.toggle {
    display: grid;
    grid-template-columns: repeat(3, .9fr);
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}

.title {
    font-size: 15px;
    color: var(--Gray-650);
}

.toggle_btn {
    width: 60px;
    height: 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding-left: .3rem;
    padding-right: .3rem;
    display: flex;
    justify-content: end;
    align-items: center;
    background: var(--Linear-gradient);
    transition: all 0.2s ease;
}

.toggle_btn:hover {
    background: hsl(237, 73%, 79%);
}

.active {
    justify-content: start;
}

.circule {
    width: 23px;
    height: 23px;
    border-radius: 50px;
    background: var(--Blue-50);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    margin-top: 4rem;
}

.card, .card_last {
    width: 320px;
    height: 415px;
    background: white;
    padding: 2rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.tag {
    font-size: var(--Font-size);
    color: var(--Gray-650);
    margin-bottom: .8rem;
}

.price, .price1 {
    font-size: 3.5rem;
    color: var(--Gray-700);
    margin-bottom: 2rem;
    transition: all 0.2s ease;
}

.b, .b_last {
    font-size: .8rem;
    color: var(--Gray-650);
    border-top: 1px solid hsla(234, 13%, 49%, 0.226);
    padding-top: .9rem;
    padding-bottom: .9rem;
}

.b_last {
    border-bottom: 1px solid hsla(234, 13%, 49%, 0.226);
}

.btn {
    width: 100%;
    background: var(--Linear-gradient);
    padding: .8rem;
    border: none;
    border-radius: .4rem;
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: .8rem;
    cursor: pointer;
    color: white;
    transition: all 0.2s ease;
}

.btn:hover {
    background: none;
    color: hsl(238, 63%, 64%);
    border: 1px solid hsl(237, 73%, 79%);
}

.card_last {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.card1 {
    width: 320px;
    height: 480px;
    background: var(--Linear-gradient);
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: .5rem;
}

.tag1 {
    font-size: var(--Font-size);
    color: white;
    margin-bottom: .8rem;
}

.price1 {
    font-size: 3.5rem;
    color: white;
    margin-bottom: 2rem;
}

.b1, .b_last1 {
    font-size: .8rem;
    color: var(--Blue-50);
    border-top: 1px solid hsla(240, 80%, 98%, 0.294);
    padding-top: .9rem;
    padding-bottom: .9rem;
}

.b_last1 {
    border-bottom: 1px solid hsla(240, 80%, 98%, 0.294);
}

.btn1 {
    width: 100%;
    background: white;
    padding: .8rem;
    border: none;
    border-radius: .4rem;
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: .8rem;
    cursor: pointer;
    color: hsl(238, 63%, 64%);
    transition: all 0.2s ease;
}

.btn1:hover {
    color: white;
    background: none;
    border: 1px solid var(--Blue-50);
}

@media (max-width: 996px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.9rem;
    }

    .card1 {
        height: 415px;
        padding: 2rem;
    }
}

@media (max-width: 692px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .bottom-img {
        display: none;
    }
}
